<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Configuration Grid: Columns</key>
	<integer>8</integer>
	<key>Configuration Grid: Rows</key>
	<integer>8</integer>
	<key>Custom Controls (4001)</key>
	<array>
		<dict>
			<key>Action</key>
			<integer>10001</integer>
			<key>Chain Mode</key>
			<integer>0</integer>
			<key>Children</key>
			<array>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>8</integer>
						<key>Configuration Grid: Rows</key>
						<integer>8</integer>
					</dict>
					<key>Identifier</key>
					<string>76587D9C-10D1-4A81-9065-89BF005FF56D</string>
					<key>Relative Frame</key>
					<string>{{0.625, 0.25}, {0.375, 0.375}}</string>
					<key>Title</key>
					<string>Move Right</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>WezTerm</string>
						<key>Available Screen Frame</key>
						<string>{{0, 0}, {2880, 1595}}</string>
						<key>Bundle Identifier</key>
						<string>com.github.wez.wezterm</string>
						<key>Screen Frame</key>
						<string>{{0, 0}, {2880, 1620}}</string>
						<key>Window Frame</key>
						<string>{{0, 1064}, {719, 531}}</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>bash</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>5</integer>
						<key>Configuration Grid: Rows</key>
						<integer>5</integer>
					</dict>
					<key>Hot Key</key>
					<dict>
						<key>Identifier</key>
						<string>BF7E7991-2BEA-4071-81BD-5627775FEB01</string>
						<key>Key Code</key>
						<integer>46</integer>
						<key>Modifier Flags</key>
						<integer>1179914</integer>
						<key>Visual Representation</key>
						<string>⇧⌘M</string>
					</dict>
					<key>Identifier</key>
					<string>BF7E7991-2BEA-4071-81BD-5627775FEB01</string>
					<key>Relative Frame</key>
					<string>{{0.20000000000000001, 0.20000000000000001}, {0.60000000000000009, 0.60000000000000009}}</string>
					<key>Title</key>
					<string>Center</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>WezTerm</string>
						<key>Available Screen Frame</key>
						<string>{{0, 0}, {2880, 1595}}</string>
						<key>Bundle Identifier</key>
						<string>com.github.wez.wezterm</string>
						<key>Screen Frame</key>
						<string>{{0, 0}, {2880, 1620}}</string>
						<key>Window Frame</key>
						<string>{{960, 0}, {960, 1595}}</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>bash</string>
					</dict>
				</dict>
			</array>
			<key>Children Expanded</key>
			<true/>
			<key>Identifier</key>
			<string>B4C2D156-3A99-499F-8254-24590BADDEE3</string>
			<key>Title</key>
			<string>MHB</string>
		</dict>
		<dict>
			<key>Action</key>
			<integer>10001</integer>
			<key>Chain Mode</key>
			<integer>0</integer>
			<key>Children</key>
			<array>
				<dict>
					<key>Action</key>
					<integer>61</integer>
					<key>Grid</key>
					<dict>
						<key>Mouse Controls Grid: Columns</key>
						<integer>4</integer>
						<key>Mouse Controls Grid: Rows</key>
						<integer>3</integer>
					</dict>
					<key>Hot Key</key>
					<dict>
						<key>Identifier</key>
						<string>52D12783-7603-42B4-A34B-5B6753F46A0D</string>
						<key>Key Code</key>
						<integer>39</integer>
						<key>Modifier Flags</key>
						<integer>1179914</integer>
						<key>Visual Representation</key>
						<string>⇧⌘'</string>
					</dict>
					<key>Identifier</key>
					<string>52D12783-7603-42B4-A34B-5B6753F46A0D</string>
				</dict>
				<dict>
					<key>Action</key>
					<integer>1001</integer>
					<key>Apply to Overlapping Windows</key>
					<true/>
					<key>Auto-Trigger</key>
					<false/>
					<key>Auto-Trigger Display Count</key>
					<integer>1</integer>
					<key>Generic</key>
					<true/>
					<key>Identifier</key>
					<string>4D974BAC-A70E-434D-ACE0-439420ED2401</string>
					<key>Snapshot</key>
					<array>
						<dict>
							<key>Application Name</key>
							<string>Safari</string>
							<key>Available Screen Frame</key>
							<string>{{0, 50}, {2056, 1235}}</string>
							<key>Bundle Identifier</key>
							<string>com.apple.safari</string>
							<key>Screen Frame</key>
							<string>{{0, 0}, {2056, 1329}}</string>
							<key>Window Frame</key>
							<string>{{0, 50}, {1370, 1235}}</string>
							<key>Window Subrole</key>
							<string>AXStandardWindow</string>
							<key>Window Title</key>
							<string>Untitled</string>
						</dict>
						<dict>
							<key>Application Name</key>
							<string>Dictionary</string>
							<key>Available Screen Frame</key>
							<string>{{0, 50}, {2056, 1235}}</string>
							<key>Bundle Identifier</key>
							<string>com.apple.dictionary</string>
							<key>Screen Frame</key>
							<string>{{0, 0}, {2056, 1329}}</string>
							<key>Window Frame</key>
							<string>{{1371, 50}, {685, 1235}}</string>
							<key>Window Subrole</key>
							<string>AXStandardWindow</string>
							<key>Window Title</key>
							<string>Dictionary</string>
						</dict>
					</array>
					<key>Snapshot Screens</key>
					<array>
						<string>{{0, 0}, {2056, 1329}}</string>
					</array>
					<key>Stubborn</key>
					<false/>
					<key>Title</key>
					<string>Sidebar</string>
				</dict>
				<dict>
					<key>Action</key>
					<integer>1001</integer>
					<key>Apply to Overlapping Windows</key>
					<true/>
					<key>Auto-Trigger</key>
					<false/>
					<key>Auto-Trigger Display Count</key>
					<integer>1</integer>
					<key>Generic</key>
					<true/>
					<key>Identifier</key>
					<string>7E93EFAD-559E-4CC3-A3DE-BEE33A070CBA</string>
					<key>Snapshot</key>
					<array>
						<dict>
							<key>Application Name</key>
							<string>TextEdit</string>
							<key>Available Screen Frame</key>
							<string>{{0, 50}, {2056, 1235}}</string>
							<key>Bundle Identifier</key>
							<string>com.apple.textedit</string>
							<key>Screen Frame</key>
							<string>{{0, 0}, {2056, 1329}}</string>
							<key>Window Frame</key>
							<string>{{0, 50}, {1028, 1235}}</string>
							<key>Window Subrole</key>
							<string>AXStandardWindow</string>
							<key>Window Title</key>
							<string>1.txt</string>
						</dict>
						<dict>
							<key>Application Name</key>
							<string>TextEdit</string>
							<key>Available Screen Frame</key>
							<string>{{0, 50}, {2056, 1235}}</string>
							<key>Bundle Identifier</key>
							<string>com.apple.textedit</string>
							<key>Screen Frame</key>
							<string>{{0, 0}, {2056, 1329}}</string>
							<key>Window Frame</key>
							<string>{{1029, 50}, {1027, 1235}}</string>
							<key>Window Subrole</key>
							<string>AXStandardWindow</string>
							<key>Window Title</key>
							<string>2.txt</string>
						</dict>
					</array>
					<key>Snapshot Screens</key>
					<array>
						<string>{{0, 0}, {2056, 1329}}</string>
					</array>
					<key>Stubborn</key>
					<false/>
					<key>Title</key>
					<string>Left &amp; Right</string>
				</dict>
				<dict>
					<key>Action</key>
					<integer>1001</integer>
					<key>Apply to Overlapping Windows</key>
					<true/>
					<key>Auto-Trigger</key>
					<false/>
					<key>Auto-Trigger Display Count</key>
					<integer>1</integer>
					<key>Generic</key>
					<true/>
					<key>Identifier</key>
					<string>56FAFE47-130C-40EA-B714-FBCD931D7635</string>
					<key>Snapshot</key>
					<array>
						<dict>
							<key>Application Name</key>
							<string>Finder</string>
							<key>Available Screen Frame</key>
							<string>{{0, 50}, {2056, 1235}}</string>
							<key>Bundle Identifier</key>
							<string>com.apple.finder</string>
							<key>Screen Frame</key>
							<string>{{0, 0}, {2056, 1329}}</string>
							<key>Window Frame</key>
							<string>{{0, 668}, {2056, 617}}</string>
							<key>Window Subrole</key>
							<string>AXStandardWindow</string>
							<key>Window Title</key>
							<string>Desktop</string>
						</dict>
						<dict>
							<key>Application Name</key>
							<string>Finder</string>
							<key>Available Screen Frame</key>
							<string>{{0, 50}, {2056, 1235}}</string>
							<key>Bundle Identifier</key>
							<string>com.apple.finder</string>
							<key>Screen Frame</key>
							<string>{{0, 0}, {2056, 1329}}</string>
							<key>Window Frame</key>
							<string>{{0, 50}, {2056, 617}}</string>
							<key>Window Subrole</key>
							<string>AXStandardWindow</string>
							<key>Window Title</key>
							<string>Documents</string>
						</dict>
					</array>
					<key>Snapshot Screens</key>
					<array>
						<string>{{0, 0}, {2056, 1329}}</string>
					</array>
					<key>Stubborn</key>
					<false/>
					<key>Title</key>
					<string>Top &amp; Bottom</string>
				</dict>
				<dict>
					<key>Action</key>
					<integer>10001</integer>
					<key>Chain Mode</key>
					<integer>0</integer>
					<key>Children</key>
					<array>
						<dict>
							<key>Action</key>
							<integer>19</integer>
							<key>Configuration Grid</key>
							<dict>
								<key>Configuration Grid: Columns</key>
								<integer>3</integer>
								<key>Configuration Grid: Rows</key>
								<integer>1</integer>
							</dict>
							<key>Identifier</key>
							<string>A4E97D6C-7497-4DC6-B0A1-282EF02661AC</string>
							<key>Relative Frame</key>
							<string>{{0, 0}, {0.33333333333333331, 1}}</string>
							<key>Title</key>
							<string>Left Third</string>
						</dict>
						<dict>
							<key>Action</key>
							<integer>19</integer>
							<key>Configuration Grid</key>
							<dict>
								<key>Configuration Grid: Columns</key>
								<integer>3</integer>
								<key>Configuration Grid: Rows</key>
								<integer>1</integer>
							</dict>
							<key>Identifier</key>
							<string>FB9D3EBA-0023-4115-88B3-12CBEE56A8FB</string>
							<key>Relative Frame</key>
							<string>{{0.33333333333333331, 0}, {0.33333333333333331, 1}}</string>
							<key>Title</key>
							<string>Middle Third</string>
						</dict>
						<dict>
							<key>Action</key>
							<integer>19</integer>
							<key>Configuration Grid</key>
							<dict>
								<key>Configuration Grid: Columns</key>
								<integer>3</integer>
								<key>Configuration Grid: Rows</key>
								<integer>1</integer>
							</dict>
							<key>Identifier</key>
							<string>07FAF0C6-906A-4239-ABE3-A29095A29D82</string>
							<key>Relative Frame</key>
							<string>{{0.66666666666666663, 0}, {0.33333333333333337, 1}}</string>
							<key>Title</key>
							<string>Right Third</string>
						</dict>
						<dict>
							<key>Action</key>
							<integer>0</integer>
							<key>Identifier</key>
							<string>83113159-6FF6-4EC9-A2CC-4BBC0052F753</string>
						</dict>
						<dict>
							<key>Action</key>
							<integer>41</integer>
							<key>Identifier</key>
							<string>AA550551-F518-4F59-B195-B502C02DE68A</string>
							<key>Loop Through Displays</key>
							<true/>
							<key>Move Direction</key>
							<integer>5</integer>
							<key>Resize Proportionally</key>
							<true/>
						</dict>
					</array>
					<key>Children Expanded</key>
					<true/>
					<key>Identifier</key>
					<string>69C01DF3-D522-4C87-89A0-4E7397637F67</string>
					<key>Title</key>
					<string>More Examples</string>
				</dict>
			</array>
			<key>Children Expanded</key>
			<true/>
			<key>Identifier</key>
			<string>6D821BDC-FCFE-4581-8F8A-D34017A1F5C9</string>
			<key>Title</key>
			<string>Examples</string>
		</dict>
		<dict>
			<key>Action</key>
			<integer>1001</integer>
			<key>Apply to Overlapping Windows</key>
			<true/>
			<key>Auto-Trigger</key>
			<false/>
			<key>Auto-Trigger Display Count</key>
			<integer>1</integer>
			<key>Generic</key>
			<false/>
			<key>Identifier</key>
			<string>8D62D542-0799-4F41-BCAA-C1A321514595</string>
			<key>Snapshot</key>
			<array>
				<dict>
					<key>Application Name</key>
					<string>WezTerm</string>
					<key>Available Screen Frame</key>
					<string>{{0, 0}, {2880, 1595}}</string>
					<key>Bundle Identifier</key>
					<string>com.github.wez.wezterm</string>
					<key>Screen Frame</key>
					<string>{{0, 0}, {2880, 1620}}</string>
					<key>Window Frame</key>
					<string>{{17, 712}, {659, 498}}</string>
					<key>Window Subrole</key>
					<string>AXStandardWindow</string>
					<key>Window Title</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>Application Name</key>
					<string>WezTerm</string>
					<key>Available Screen Frame</key>
					<string>{{0, 0}, {2880, 1595}}</string>
					<key>Bundle Identifier</key>
					<string>com.github.wez.wezterm</string>
					<key>Screen Frame</key>
					<string>{{0, 0}, {2880, 1620}}</string>
					<key>Window Frame</key>
					<string>{{683, 714}, {656, 503}}</string>
					<key>Window Subrole</key>
					<string>AXStandardWindow</string>
					<key>Window Title</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>Application Name</key>
					<string>WezTerm</string>
					<key>Available Screen Frame</key>
					<string>{{0, 0}, {2880, 1595}}</string>
					<key>Bundle Identifier</key>
					<string>com.github.wez.wezterm</string>
					<key>Screen Frame</key>
					<string>{{0, 0}, {2880, 1620}}</string>
					<key>Window Frame</key>
					<string>{{685, 188}, {656, 503}}</string>
					<key>Window Subrole</key>
					<string>AXStandardWindow</string>
					<key>Window Title</key>
					<string>bash</string>
				</dict>
				<dict>
					<key>Application Name</key>
					<string>WezTerm</string>
					<key>Available Screen Frame</key>
					<string>{{0, 0}, {2880, 1595}}</string>
					<key>Bundle Identifier</key>
					<string>com.github.wez.wezterm</string>
					<key>Screen Frame</key>
					<string>{{0, 0}, {2880, 1620}}</string>
					<key>Window Frame</key>
					<string>{{14, 185}, {656, 503}}</string>
					<key>Window Subrole</key>
					<string>AXStandardWindow</string>
					<key>Window Title</key>
					<string>bash</string>
				</dict>
			</array>
			<key>Snapshot Screens</key>
			<array>
				<string>{{0, 0}, {2880, 1620}}</string>
				<string>{{668, -982}, {1512, 982}}</string>
			</array>
			<key>Stubborn</key>
			<false/>
			<key>Title</key>
			<string>Layout – WezTerm</string>
		</dict>
	</array>
	<key>Drop Snap</key>
	<true/>
	<key>Grid Spacing</key>
	<true/>
	<key>Grid Spacing: Auto-Enabled Default Spacing</key>
	<true/>
	<key>Grid Spacing: Gap</key>
	<integer>1</integer>
	<key>Key Control: Arrow: Command</key>
	<integer>53</integer>
	<key>Key Control: Arrow: Option</key>
	<integer>52</integer>
	<key>Key Control: Return</key>
	<integer>1</integer>
	<key>Key Control: Tab</key>
	<integer>22</integer>
	<key>Keyboard Controls</key>
	<dict>
		<key>Identifier</key>
		<string>Keyboard Controls</string>
		<key>Key Code</key>
		<integer>41</integer>
		<key>Modifier Flags</key>
		<integer>1179914</integer>
		<key>Visual Representation</key>
		<string>⇧⌘;</string>
	</dict>
	<key>Mouse Controls Include Custom Controls</key>
	<true/>
	<key>Mouse Controls Include Custom Controls: Show On Hover</key>
	<true/>
	<key>Mouse Controls Trigger</key>
	<integer>0</integer>
	<key>Mouse Controls: Zoom Button Behavior</key>
	<integer>-1</integer>
	<key>NSWindow Frame PMHelpManager: Moom Help</key>
	<string>2161 570 719 493 0 0 2880 1595 </string>
	<key>NSWindow Frame Settings Window (4001)</key>
	<string>1150 319 971 807 0 0 2880 1595 </string>
	<key>PMSparkleWrapper Status</key>
	<dict>
		<key>Check Date</key>
		<integer>1724468177</integer>
		<key>Current Version</key>
		<string>4.0.1</string>
		<key>Update Version</key>
		<string></string>
	</dict>
	<key>Palette</key>
	<dict>
		<key>3-1</key>
		<string>BF7E7991-2BEA-4071-81BD-5627775FEB01</string>
		<key>3-2</key>
		<string>52D12783-7603-42B4-A34B-5B6753F46A0D</string>
		<key>3-3</key>
		<integer>2</integer>
		<key>4-1</key>
		<string>76587D9C-10D1-4A81-9065-89BF005FF56D</string>
		<key>4-2</key>
		<string>4D974BAC-A70E-434D-ACE0-439420ED2401</string>
		<key>4-3</key>
		<integer>9</integer>
		<key>5-2</key>
		<string>7E93EFAD-559E-4CC3-A3DE-BEE33A070CBA</string>
		<key>5-3</key>
		<integer>5</integer>
		<key>6-2</key>
		<string>56FAFE47-130C-40EA-B714-FBCD931D7635</string>
		<key>6-3</key>
		<integer>3</integer>
		<key>7-2</key>
		<string>69C01DF3-D522-4C87-89A0-4E7397637F67</string>
		<key>7-3</key>
		<integer>7</integer>
	</dict>
	<key>Palette Icon Size</key>
	<integer>20</integer>
	<key>Palette: Hidden Items</key>
	<array/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2024-08-24T02:56:16Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>Show Cheat Sheet</key>
	<true/>
	<key>Show Intro Popover</key>
	<false/>
	<key>Snap</key>
	<true/>
	<key>Snap: 5</key>
	<string>=76587D9C-10D1-4A81-9065-89BF005FF56D</string>
	<key>Snap: Ignore Bordering Edges And Corners</key>
	<true/>
	<key>WebKitCacheModelPreferenceKey</key>
	<integer>1</integer>
</dict>
</plist>
